@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/Roboto/Roboto-Regular.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url(../assets/fonts/Roboto/Roboto-Medium.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    src: url(../assets/fonts/Roboto/Roboto-Bold.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(../assets/fonts/Roboto/Roboto-Black.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212;
}

.cubecraft-screen {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.cubecraft-dropdown-thick {
    box-sizing: border-box;
    background-color: #222222;
    color: #a1a1a1;
    font-weight: bold;
    font-size: 11.2px;
    padding: 7.25px 9.25px;
    border: 1px solid #333333;
    height: 31px;
    cursor: pointer;
}

.cubecraft-dropdown-thick:hover {
    background-color: #333333;
    border: 1px solid #555555;
}

.cubecraft-dropdown-thick::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 6px;
    vertical-align: middle;
    border-top: 4px solid #a1a1a1;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.cubecraft-button-thick {
    box-sizing: border-box;
    background-color: #0f7126;
    color: #83a18d;
    font-weight: bold;
    letter-spacing: 0.05em;
    font-size: 11.2px;
    padding: 9.25px 12px;
    height: 31px;
    cursor: pointer;
    text-align: center;
}

.cubecraft-button-thick:hover {
    background-color: #0e6923;
}

.cubecraft-textbox-thick {
    box-sizing: border-box;
    background-color: #222222;
    color: #a1a1a1;
    padding: 6.75px 8.75px;
    border: 1px solid #333333;
    height: 31px;
    font-size: 12.2px;
    outline: none;
}

.cubecraft-textbox-thick:focus {
    background-color: #333333;
    border: 1px solid #555555;
}

.cubecraft-menu {
    position: fixed;
    box-shadow: 1px 2px 7px #00000044;
    background-color: #222222;
    color: #a1a1a1;
    font-weight: bold;
    font-size: 0.7em;
    border: 1px solid #333333;
    margin-top: -1px;
    box-sizing: border-box;
    max-height: 200px;
    overflow-y: auto;
    animation: menu-fade-in 0.1s ease-in-out;
}

@keyframes menu-fade-in {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.cubecraft-menu-item {
    box-sizing: border-box;
    padding: 7.25px 9.25px;
    height: 31px;
    cursor: pointer;
}

.cubecraft-menu-item:hover {
    background-color: #333333;
}

.cubecraft-join-screen {
    background: #1d1d1d;
    display: flex;
    flex-direction: column;
}

.cubecraft-join-screen-title {
    margin-top: auto;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
    image-rendering: pixelated;
}

.cubecraft-join-options-wrapper {
    margin-bottom: auto;
    display: flex;
}

.cubecraft-join-options {
    margin: auto;
    display: flex;
    flex-direction: row;
}

.cubecraft-flex-1 {
    flex: 1;
}

.cubecraft-flex-2 {
    flex: 2;
}

.cubecraft-flex-3 {
    flex: 3;
}