.cubecraft-launcher-content-title {
    display: flex;
    flex-direction: row;
    padding: 24px;
    padding-bottom: 0px;
    box-sizing: border-box;
    height: 40px;
    color: #8d8d8d;
    font-weight: 500;
}

.cubecraft-launcher-content-page {
    padding: 24px;
    color: #777777;
    font-size: 14px;
}

.cubecraft-launcher-sidebar-items {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.cubecraft-launcher {
    display: flex;
    flex-direction: row;
    background-color: #222222;
    font-family: 'Roboto';
}

.cubecraft-launcher-sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #1d1d1d;
    border-right: 1px solid #181818;
}

.cubecraft-launcher-content {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.cubecraft-launcher-sidebar-bar {
    display: flex;
    flex-direction: row;
    padding: 16px;
    background-color: #181818;
    box-sizing: border-box;
    height: 64px;
}

.cubecraft-launcher-sidebar-bar-text {
    font-weight: bold;
    letter-spacing: 0.05em;
    font-size: 0.8em;
    margin: 8px;
    color: #797979;
}

.cubecraft-launcher-sidebar-bar-button {
    margin-left: auto;
}

.cubecraft-launcher-sidebar-item {
    display: flex;
    flex-direction: row;
    padding: 16px;
    box-sizing: border-box;
    height: 64px;
}

.cubecraft-launcher-sidebar-item:nth-child(2n + 1) {
    background-color: #1f1f1f;
}

.cubecraft-launcher-sidebar-item-text {
    font-weight: 500;
    font-size: 0.8em;
    margin: 8px;
    color: #797979;
}

.cubecraft-launcher-sidebar-item-dropdown {
    margin-left: auto;
}